:root {
  --bg1: #0f1014;
  --bg2: #131519;
  --bg3: #18191e;
  --bg4: #1d1e23;
  --bg5: #222328;
  --text1: #696b74;
  --text2: #555860;
  --text3: #46484f;
  --text4: #3a3c40;
  --green: #009966;
  --selectionGreen: #64a684;
  --yellow: #efba56;
  --blue: #4a73db;
  --red: #bf2d4b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  margin: 0;
  background-color: var(--bg2);
}

#topnav {
  width: 100%;
  height: 64px;
  background-color: var(--bg1);
}

#main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#sidenav {
  background-color: var(--bg1);
  height: 100vw;
  flex-shrink: 0;
  width: 240px;
}

#content {
  width: 100%;
  padding: 32px;
}

#iconcontainer {
  width: 100%;
  flex-wrap: wrap;
  gap: 12px;
  display: flex;
}

#footer {
  width: 100%;
  height: 64px;
  background-color: var(--bg1);
}

#mainIconSearch {
  border-radius: 8px;
  padding: 12px 16px;
  width: calc(100% - 32px);
  margin-bottom: 32px;
  font-size: 16px;
  color: var(--text1);
  outline: none;
}

#mainIconSearch::placeholder {
  color: var(--text3);
}

.svgbox,
#mainIconSearch {
  background-color: var(--bg3);
  box-shadow: 0 0 0 1px var(--bg1);
  border: 1px solid transparent;
  border-top: 1px solid var(--bg4);
}

.svgbox {
  text-align: center;
  display: inline-flex;
  padding: 16px;
  transition: 100ms;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  justify-content: center;
  flex-wrap: wrap;
}

.svgbox p {
  margin: 4px 0 0 0;
  width: 100%;
  font-size: 12px;
  letter-spacing: 0.3px;
  user-select: none;
  color: #9e9e9e;
}

.svgbox img {
  height: 24px;
  width: 24px;
  user-select: none;
}

.svgbox:hover {
  border: 1px solid var(--green);
  box-shadow: 0 0 0 1px var(--green);
}
