:root {
  --bg1: #131519;
  --bg2: #181b1f;
  --bg3: #1e2023;
  --bg4: #232528;
  --text1: #303030;
  --text2: #404040;
  --text3: #505050;
  --text4: #606060;
  --text5: #707070;
  --text6: #808080;
  --textwhite: #cecece;
  --green: #009966;
  --selection: #0099662f;
  --greentransparent: #0099661a;
  --yellow: #efba56;
  --yellowtransparent: #efba561a;
  --blue: #4a73db;
  --bluetransparent: #4a73db1a;
  --red: #bf2d4b;
  --redtransparent: #bf2d4b1a;
  --sidenavwidth: 200px;
  --sidenavpadding: 16px;
  --topnavheight: 64px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: var(--selection);
}

body {
  font-family: Helvetica;
  margin: 0;
  height: 100%;
  background-color: var(--bg2);
}

.tag {
  display: inline-flex;
  border-radius: 14px;
  font-size: 12px;
  align-items: center;
  padding: 1px 8px 1px 8px;
  column-gap: 0.3em;
}

.tag.green {
  background-color: var(--greentransparent);
  color: var(--green);
}

.tag.green.border {
  border: 1px solid var(--green);
}

.tag.yellow {
  background-color: var(--yellowtransparent);
  color: var(--yellow);
}

.tag.yellow.border {
  border: 1px solid var(--yellow);
}

.tag.blue {
  background-color: var(--bluetransparent);
  color: var(--blue);
}

.tag.blue.border {
  border: 1px solid var(--blue);
}

.tag.red {
  background-color: var(--redtransparent);
  color: var(--red);
}

.tag.red.border {
  border: 1px solid var(--red);
}

.tag-icon {
  vertical-align: text-bottom;
  height: 1em;
  width: 1em;
}
